*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

body{
    margin: 0;
    background-color: #222;
}

.websiteFrame {
    position: fixed;
    z-index: 990;
    background-color: rgb(0, 132, 255);
}

#websiteFrameTop {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
}

#websiteFrameRight {
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
}

#websiteFrameBottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}

#websiteFrameLeft {
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
}

#list li{
    list-style-type: none;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    background: rgb(0, 132, 255);
    color: #fff;
    transition: all .5s;
    margin-bottom: .5em;
    margin-left: .5em;
    margin-right: .5em;
    box-shadow: 0 0 10px 1px #111;
}

#list li:last-child{
    margin-bottom: .25em;
}
#list li:hover{
    background: rgb(0, 80, 255);
    color: #fff;
    box-shadow: 0 0 20px 1px #000;
    cursor: pointer;
}

#list div h3{
    padding: 0 5px;
    transition: all .25s;
}

#list div:hover h3{
    padding: 0 30px;
}

#list{
    padding-inline-start: 0;
}

#title-bar {
    display: block;
    position: fixed;
    height: 32px;
    width: calc(100% - 2px);
    -webkit-app-region: drag;
}

#title-bar {
    padding: 4px;
    top: 1px;
    background: linear-gradient(360deg, transparent, #222);
}

#title {
    top: 0px;
    left: 20px; 
    font-size: 12px;
    padding: 10px;
    padding-left: 15px;
    display: inline-block;
}
   
#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 1px;
    right: 1px;
}

#min-btn, #max-btn, #close-btn, #abt-btn{
    cursor: default;
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 10px;
    width: 46px;
    height: 32px;
    background-position: center;
    transition: all 125ms;
}

#close-btn{
    background-image: url("../assets/close.png");
}

#close-btn:hover{
    background-color: #E81123 !important;
}
#close-btn:active{
    background-color: #F1707A !important;
    background-image: url("../assets/close-active.png");
}

.abt-win #close-btn{
    margin: 5px 10px;
    width: 25px !important;
    height: 32px !important;
    background-color: #E81123aa;
}

#max-btn{
    background-image: url("../assets/max.png");
}

#max-btn:hover, #min-btn:hover, #abt-btn:hover{
    background-color: #fff1;
}

#max-btn:active, #min-btn:active, #abt-btn:active{
    background-color: #fff2;
}

#min-btn{
    background-image: url("../assets/min.png");
}

#abt-btn{
    background-image: url("../assets/abt.png");
}

.abt-win #title{
    padding-left: 2px !important;
}

.abt-win #title-bar {
    padding-right: 1px;
}

:focus {
    outline: none;
}

::-webkit-scrollbar{
    width: 0;
}

#body{
    padding-left: 10px;
    padding-right: 10px;
}

#extLink{
    color: rgb(0, 132, 255);
    position: relative;
    text-decoration: none;
    transition: color .4s ease-out;
}
  
#extLink:hover {
    right: 0;
    text-decoration: none;
}
  
#extLink:hover:after {
    border-color: #457DFB;
    right: 0;
}
  
#extLink:after {
    border-radius: 1em;
    border-top: .15em solid rgb(0, 132, 255);
    content: "";
    position: absolute;
      right: 100%;
      bottom: .10em;
      left: 0;
    transition: right .4s cubic-bezier(0,.5,0,1), border-color .4s ease-out;
}
  
#extLink:hover:after {
  right: 0;
}